.statistic_page_block{
	text-align:left;
}

.statistic_page_block h1{
	font-family: Trebuchet MS, Tahoma, Arial;
	font-size: 30px;
	font-weight: normal;
	color: #333333;
	border-bottom:none;
	padding:0;
	text-align:center;
	background: url(../images/dashed_line.png) center 16px repeat-x;
}

.statistic_page_block h1 span, .statistic_page_block h2 span{
	background: #F5F6F5;
	padding: 0 15px;
}

.statistic_page_block h1{
	margin-bottom:31px;
}

.horizontal_sub_menu{
	margin-bottom:19px;
}

.horizontal_sub_menu table{
	width:100%;
	border-collapse: collapse;
}

.horizontal_sub_menu table td{
	border:1px solid #aeaeae;
}

.horizontal_sub_menu table.cell4 td{
	width:25%;
}

.horizontal_sub_menu table td span, .horizontal_sub_menu table td a{
	display:block;
	text-decoration:none;
	text-align:center;
	height: 28px;
	line-height: 28px;
	font-size: 12px;
}

.horizontal_sub_menu table td span{
	color: #FFFFFF;
	font-weight:bold;
	background-color: #585858;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#585858), to(#787878));
	background-image: -webkit-linear-gradient(top, #585858, #787878);
	background-image:    -moz-linear-gradient(top, #585858, #787878);
	background-image:      -o-linear-gradient(top, #585858, #787878);
	background-image:         linear-gradient(to bottom, #585858, #787878);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#585858', endColorstr='#787878',GradientType=0);
}

.horizontal_sub_menu table td a{
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#e4e4e4));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #e4e4e4);
	background-image:    -moz-linear-gradient(top, #f9f9f9, #e4e4e4);
	background-image:      -o-linear-gradient(top, #f9f9f9, #e4e4e4);
	background-image:         linear-gradient(to bottom, #f9f9f9, #e4e4e4);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e4e4e4',GradientType=0);
}

.sorter_tools{
	overflow: hidden;
	zoom:1;
}

.sorter_tools .select_time span{
	cursor:pointer;
	border-bottom:1px dashed #868686;
	color: #868686;
	margin-right: 25px;
}

.sorter_tools .select_time span.active{
	cursor:default;
	border:none;
}

.select_date{
	float:right;
}

input.date_input{
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	-khtml-border-radius: 0;
	font: 11px Tahoma;
	color:#000;
	height:21px;
	line-height:21px;
	width:63px;
	padding:0;
	border: 1px solid #abadb3;
	padding: 0 16px 0 0;
	background: url(../images/calendar.png) 64px center no-repeat;
}

.select_date i{
	margin:0 6px 0 10px;
	font-style:normal;
}